################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/DasherApp/bin/Debug/net6.0
/code/.vs/DasherApp
/code/DasherApp/obj
/code/DasherApp.API/bin/Debug/net6.0
/code/DasherApp.API/obj
/code/DasherApp.Models/bin/Debug/net6.0
/code/DasherApp.Models/obj
/code/DasherApp/bin/Release/net6.0
/code/DasherApp.Models/bin/Release/net6.0
/code/.vs/ProjectEvaluation
/code/DasherApp.API/bin/Release/net6.0
/code/DasherApp/Properties/PublishProfiles
/code/DasherApp.API/Properties/PublishProfiles
/code/DasherApp.API/DasherApp.API.csproj.user
/code/DasherApp/DasherApp.csproj.user
/code/DasherApp.APIV2/obj
/code/DasherApp.Data/obj
/code/DasherApp.APIV2/bin
/code/DasherApp.Data/bin
