@inject IReportService reportService


<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Month</th>
                <th scope="col">Year</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            @if (isLoading)
            {
                <div class="centered">
                    <img src="images/loading.gif" />
                </div>
            }
            else
            {
                @foreach (var monthlyEarning in monthlyEarnings)
                {
                    <tr>
                        <td>
                            @monthlyEarning.MonthName
                        </td>
                        <td>
                            @monthlyEarning.Year
                        </td>
                        <td>
                            @monthlyEarning.Amount.ToString("C2")
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {
    bool successVisible = false;
    bool failureVisible = false;
    bool isLoading = false;

    IEnumerable<MonthlyReportModel> monthlyEarnings = new List<MonthlyReportModel>();

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        monthlyEarnings = await reportService.GetMonthlyReports();
        isLoading = false;
    }
}