@inject IReportService reportService

<h2>Weekly Earnings</h2>


<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            @if (isLoading)
            {
                <div class="centered">
                    <img src="images/loading.gif" />
                </div>
            }
            else
            {
                @foreach (var week in weeklyEarnings)
                {
                    <tr>
                        <td>
                            @week.WeekId
                        </td>
                        <td>
                            @week.StartDate.ToShortDateString()
                        </td>
                        <td>
                            @week.EndDate.ToShortDateString()
                        </td>
                        <td>
                            @week.Total.ToString("C2")
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {
    bool successVisible = false;
    bool failureVisible = false;
    bool isLoading = false;

    IEnumerable<WeeklyReportModel> weeklyEarnings = new List<WeeklyReportModel>();


    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        weeklyEarnings = await reportService.GetWeeklyReports();
        isLoading = false;
    }
}