@inherits LayoutComponentBase
@inject IDailyDashService dailyDashService
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h5>Total Earned : @totalAmount.ToString("C2")</h5>
            <h5>Mileage: @totalMileage</h5>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    double totalAmount = 0;
    double totalMileage = 0;

    protected override async Task OnInitializedAsync()
    {
        totalAmount = await dailyDashService.GetTotalEarned();
        totalMileage = await dailyDashService.GetTotalMileage();
    }
}