<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DasherApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AddDailyDash">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Dash
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Reports/WeeklyEarnings">
                <span class="oi oi-plus" aria-hidden="true"></span> Weekly Earnings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Earnings">
                <span class="oi oi-plus" aria-hidden="true"></span> Earnings
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Reports/statistics">
                <span class="oi oi-plus" aria-hidden="true"></span> Statistics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Reports/Generate">
                <span class="oi oi-plus" aria-hidden="true"></span> Generate Reports
            </NavLink>
        </div>
        @* <div class="nav-item px-3">
        <NavLink class="nav-link" href="/Reports/visual/statistics">
        <span class="oi oi-plus" aria-hidden="true"></span>Visual Statistics
        </NavLink>
        </div>*@
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = false;
    }
}
