@page "/Reports/statistics"

<h1>Add Dash</h1>

@*<EditForm Model="FilterModel" OnValidSubmit="Search">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-4">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <DatePicker @ref="@dashDateTimePicker" TValue="DateTime" @bind-Date="FilterModel.FromDate" />
                </Addon>
                <Addon AddonType="AddonType.End">
                    <Button Color="Color.Light" Clicked="@(()=>dashDateTimePicker.ToggleAsync())">
                        <Icon Name="IconName.CalendarDay" />
                    </Button>
                </Addon>
            </Addons>
            <ValidationMessage For="()=>FilterModel.FromDate"></ValidationMessage>
        </div>
        <div class="col-3">
            <InputText @bind-Value="FilterModel.Location" class="form-control"></InputText>
            <ValidationMessage For="()=>FilterModel.Location"></ValidationMessage>
        </div>


    </div>
   
    <div class="row mt-2">
        <div class="col-3">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
</EditForm>*@


@code {
    //DatePicker<DateTime> dashDateTimePicker;
    //public FilterModel FilterModel { get; set; } = new FilterModel();

    //public async Task Search()
    //{
        
    //}
}